@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}
body {
    margin: 0;
    padding: 0;
}
#page_toast img {
    height: 25px;
}
#dashboard {
    background-image: url("../images/index.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 54px);
    padding-top: 30px;
}
#dashboard form {
    background: #ffffff5e;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px #393939;
}
#dashboard .form-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
#dashboard form .input-group-text {
    width: 250px;
    font-weight: 600;
}
.btn {
    padding: 3px 10px !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;
}
.btn:hover {
    box-shadow: 2px 2px 5px #000;
}
.btn:hover.static {
    box-shadow: none;
}
.navbar {
    padding: 2px;
}
.navbar img {
    height: 40px;
    margin-right: 20px;
}
.navbar .nav-item {
    margin-right: 30px;
}
#home {
    background-image: url("../images/index.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 54px);
}
#home .section-1 {
    min-height: calc(75vh - 56px);
    display: flex;
    align-items: center;
}
#home .section-1 .title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#home .globe-card {
    width: 200px;
    height: 200px;
    background: #00000032;
    border-radius: 100px;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #000000, -2px -2px 5px #ffffff;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
#home .globe-card:hover {
    box-shadow: 2px 2px 15px #000000, 2px 2px 15px #000000;
}

#register {
    background-image: url("../images/19678.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 56px);
}

#register .section-1 {
    min-height: calc(75vh - 56px);
    display: flex;
    align-items: center;
    padding-top: 100px;
}
#register .section-1 .reg-form {
    background: #ffffff5e;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 5px #000000, -2px -2px 5px #ffffff;
}
#register .section-1 .reg-form .form-caption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*  */
.event-card {
    background: #00000083;
    box-shadow: 2px 2px 5px #000000, -2px -2px 5px #ffffff;
    padding: 10px;
    backdrop-filter: blur(7px);
    color: #fff;
}
.event-card .date {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}
.event-card .name {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}
.event-card .star {
    display: flex;
    justify-content: end;
    font-size: 30px;
}
.event-card .organizer {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.event-card img {
    width: 100%;
}

/*  */
.dashboard-details-card {
    border-radius: 5px;
    background-color: #ffffffa5;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 17px;
    box-shadow: 2px 2px 10px #393939;
    transition: all 0.2s;
}
.dashboard-details-card:hover {
    background-color: #ffffffe1;
}
.dashboard-details-card span {
    font-weight: 700;
}

/*  */
#learn {
    background-image: url("../images/learn.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 54px);
    padding-top: 30px;
}
/*  */
.pages {
    background-image: url("../images/mentor.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 54px);
    padding-top: 30px;
}

.pages .desc-wrap {
    border-radius: 5px;
    background-color: #ffffffa5;
    padding: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 10px #393939;
}
.pages .lead {
    font-size: 14px;
}
/*  */
.class-card {
    border-radius: 5px;
    background-color: #ffffffa5;
    padding: 10px;
    height: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 10px #393939;
    transition: all 0.5s;
    cursor: pointer;
}
.class-card:hover {
    background-color: #ffffffd9;
    box-shadow: 2px 2px 15px #000000, 2px 2px 15px #000000;
}
.class-card .name {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
}
.class-card {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}
.class-card span {
    font-size: 14px;
    font-weight: 400;
}
.class-card .video-wrap {
    width: 100%;
    margin-top: 10px;
}
.class-card .video-by {
    font-size: 12px;
    font-weight: 500;
    color: #393939;
    line-height: 14px;
}
.class-card .video-wrap {
    width: 100%;
    margin-top: 10px;
}
.class-card video {
    height: 250px;
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
    background-color: #000000b9;
}
.class-card .video-det .bi {
    font-size: 16px;
}
.class-card .image-wrap {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #000000b9;
}
.class-card img {
    height: 250px;
    background-color: #000000b9;
}
.class-card .quiz {
    font-size: 16px;
    font-weight: 600;
}
.class-card .answer {
    font-size: 13px;
    font-weight: 400;
    background-color: #0000001c;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px #555;
    font-style: italic;
}
.class-card .answer span {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
}
