@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
    --primary: #138dd0;
    --fade: #ffffffab;
    --unfade: #ffffff;
}

* {
    font-family: "Poppins", sans-serif !important;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    /* background-image: url("../images/mini_bg.jpg"); */
    background-image: url("https://img.freepik.com/free-photo/close-up-sound-engineer-studio-with-equipment_1157-47928.jpg?w=1380&t=st=1684400082~exp=1684400682~hmac=657119ab8e67e74a28c0cffc5328ee49a86c5ca28d4c05daeb19df8f260db5c1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.no-link {
    text-decoration: none;
}
#page_toast img {
    height: 25px;
}

#register {
    min-height: calc(100vh - 56px);
}

#register .section-1 {
    min-height: calc(75vh - 56px);
    display: flex;
    align-items: center;
    padding-top: 100px;
}
#register .section-1 .reg-form {
    background: #ffffff5e;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 5px #000000, -2px -2px 5px #ffffff;
}
#register .section-1 .reg-form .form-caption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*  */

/*  */

/*  */

/*  */

.admin {
    font-size: 13px;
}
